@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.trapezoid {
    background-color: #ccc; 
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.blueKeys{
  background-color: #007bff;
}
.yellowKeys{
  background-color: #ffc107;
}

.trapezoid-neck {
    background-color: #927a7a; 
    clip-path: polygon(10% 5%, 90% 5%, 100% 100%, 0% 100%);

}


.texture{
  background-image: url('/texture_black.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}